<div class="social">
    <a href="{{ site.social_links.github }}" title="Follow me on Github"><i class="fa fa-2x fa-github" aria-hidden="true"></i></a>
    <a href="{{ site.social_links.twitter }}" title="Follow me on Twitter"><i class="fa fa-2x fa-twitter" aria-hidden="true"></i></a>
    <a href="{{ site.social_links.linkedin }}" title="Connect with me on LinkedIn"><i class="fa fa-2x fa-linkedin" aria-hidden="true"></i></a>
    <a href="/feed.xml" title="Subscribe via RSS/atom"><i class="fa fa-2x fa-rss-square" aria-hidden="true"></i></a>
</div>